<div class="container">
  <h2 class="text"><%= @customer == current_customer ? "マイページ(#{@customer.name}さん)" : "#{@customer.name}さんのページ" %></h2>

  <div>
    <h3>投稿したレシピ一覧</h3>
    <% if @recipes.present? %>
      <ul>
        <% @recipes.each do |recipe| %>
          <li>
            <%= link_to recipe.title, recipe_path(recipe) %>
          </li>
        <% end %>
      </ul>
    <% else %>
      投稿されたレシピはありません
    <% end %>
  </div>

  <% if @customer == current_customer %>
    <% unless @customer.guest_user? %>
      <div>
        <%= link_to "ユーザー名変更", edit_customer_path(@customer) %>
      </div>
      <div>
        <%= link_to '退会', customers_confirm_path %>
      </div>
    <% end %>
  <% end %>
</div>