<div><%= flash[:notice] %></div>
<h1>レシピ一覧</h1>
<% @recipes.each do |recipe|%>
  <div>
    <%= link_to recipe.title, recipe_path(recipe) %>
    <small class="text-black-50">
      <%= link_to recipe.customer.name, customer_path(recipe.customer) %>
    </small>
  </div>
<% end %>