<h1>レシピ詳細</h1>

<div><%= @recipe.title %></div>
<div><%= @recipe.body %></div>
<% if @recipe.images.attached? %>
  <div>
    <% @recipe.images.each do |image| %>
      <%= image_tag image, class: "img-fluid" %>
    <% end %>
  </div>
<% end %>

<%= link_to 'レシピを編集', edit_recipe_path(@recipe) %>
