<div class="my-3">
  <% recipe.comments.each do |comment| %>
    <div>
      <div class="name">
        <%= link_to customer_path(comment.customer) do %>
          <%#= image_tag comment.customer.get_profile_image, size: "50x50" %><br>
          <%= comment.customer.name %>
        <% end %>
      </div>
      <div class="content">
        <%= simple_format(comment.comment) %>
      </div>
      <% if comment.customer == current_customer %>
        <div class="action">
          <%= link_to "Destroy", admin_recipe_comment_path(recipe, comment), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-sm btn-danger" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>