<div class="container">
  <h2 class="shadow" >お気に入り</h2>
  <% @favorites.each do |favorite| %>
    <div>
      <%= link_to favorite.recipe.title, recipe_path(favorite.recipe) %>
    </div>
  <% end %>
</div>