.background-image {
  background-image: url("./haikei.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
.center-text {
  text-align: center;
}

.frame {
        border: 1px solid black; /* 枠線を表示させる */
        padding: 10px; /* 枠内の余白を設定する */
        background-color: white; /* 背景色を白に設定する */
        display: inline-block; /* インラインブロック要素として表示させる */
}

.recipe-dot-line {
  line-height: 2;
  display: inline;
  background-image : linear-gradient(to right, #b5b5b5, #b5b5b5 2px, transparent 2px, transparent 8px);
  background-size: 8px 2px;
  padding-bottom: 5px;
  background-position: left bottom;
  background-repeat: repeat-x
}

.text {
  color: blue;  /* 目立たせたいテキストの色を指定する */
  font-size: 40px;  /* テキストのフォントサイズを指定する */
  font-weight: bold;  /* テキストを太字にする */
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px 0px white;
}

// * This is a manifest file that'll be compiled into application.css, which will include all the files
// * listed below.
// *
// * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
// * vendor/assets/stylesheets directory can be referenced here using a relative path.
// *
// * You're free to add application-wide styles to this file and they'll appear at the bottom of the
// * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
// * files in this directory. Styles in this file should be added after the last require_* statement.
// * It is generally better to create a new file per style scope.
// *
// *= require_tree .
// *= require_self
// */
